:root {
    /* COLOR PALETTE */
    --clr-white: #ffffff;
    --clr-grey-900: #48556a;
    --clr-grey-500: #6e8098;
    --clr-grey-400: #9daec2;
    --clr-grey-200: #ecf2f8;
    
    /* TYPOGRAPHY */
    --ff-primary: 'Manrope', sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --fs-20: 1.25rem; /* 20px */
    --fs-13: 0.8125rem; /* 13px */

    --lh-130: 130%; 
    --lh-140: 140%; 

    --ls-25: 0.25px;
    --ls-12: 0.12px;
   

    /* SPACING */
    --spacing-0: 0; /* 0px */
    --spacing-200: 1rem; /* 16px */
    --spacing-300: 1.5rem; /* 24px */
    --spacing-400: 2rem; /* 32px */
    --spacing-500: 2.5rem; /* 40px */
    --spacing-600: 3rem; /* 48px */
    --spacing-700: 3.5rem; /* 56px */
    --spacing-800: 4rem; /* 64px */
    --spacing-1300: 6.5rem; /* 104px */
    --spacing-2000: 10rem; /* 160px */
    
}

.text-preset-1 {
    font-size: var(--fs-20);
    line-height: var(--lh-130);
    letter-spacing: var(--ls-25);
    font-weight: var(--fw-bold);
}

.text-preset-2M {
    font-size: var(--fs-13);
    line-height: var(--lh-140);
    letter-spacing: var(--ls-12);
    font-weight: var(--fw-medium);
}

.text-preset-2B {
    font-size: var(--fs-13);
    line-height: var(--lh-140);
    letter-spacing: var(--ls-12);
    font-weight: var(--fw-bold);
}

.text-preset-3 {
    font-size: var(--fs-13);
    line-height: var(--lh-140);
    letter-spacing: var(--ls-25);
    font-weight: var(--fw-regular);
    text-transform: uppercase;
}

/* SHARE TOAST */
.shareToast__content {
    display: none;
    gap: var(--spacing-200);
    align-items: center;
    background-color: var(--clr-grey-900);
    padding: 1.7em 2.4em;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.shareToast__label {
    color: var(--clr-grey-400);
}

.shareToast__content--social {
    display: flex;
    gap: clamp(0.5rem, 2vw, 1rem);
}

/* PROFILE & DATE */
.profile__container {
    display: flex;
    align-items: center;
    align-self: center;
    gap: var(--spacing-200);
}

.profile__container img {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
}

.profile__info {
    line-height: 0.5em;
}

.profile__time {
    color: var(--clr-grey-400);
}

/* SHARE BUTTON */
.share__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 10;
    background-color: var(--clr-grey-200);
}

.share__icon:hover {
    outline: 2px solid var(--clr-grey-400);
    outline-offset: 2px;
}

.share__icon:focus-visible {
    outline: 2px solid var(--clr-grey-900);
    outline-offset: 2px;
}

.share__icon svg path {
    fill: var(--clr-grey-500);
}

.share__icon--active {
    background-color: var(--clr-grey-500);
}

.share__icon--active svg path {
    fill: var(--clr-white);
}

/* MOBILE LAYOUT */
body {
    display: grid;
    align-items: center;
    font-family: var(--ff-primary);
    background-color: var(--clr-grey-200);
    color: var(--clr-grey-900);
    margin: 0;
    padding: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.main__content {
    display: grid;
    justify-self: center;
    width: 80%;
    max-width: 730px;
    box-shadow: 0px 40px 40px rgba(201, 213, 225, 0.5);
}

.article__preview {
    display: grid;
    background-color: var(--clr-white);
    border-radius: 10px;
    position: relative;
}

.img__container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.furnAccessories_img {
    transform: scaleY(1.15);
    transform-origin: center;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0 83%);
}

.article__preview-content {
    padding: 0 1.8rem 1.2rem 1.8rem;
}

.para {
    margin-block: 1.5rem 3rem;
    color: var(--clr-grey-500);
}

.share__icon {
    margin-inline-start: auto;
}

.attribution {
    width: 90%;
    max-width: 730px;
    margin-inline: auto;
}

.shareToast__content--open {
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.social:hover {
    outline: 2px solid var(--clr-grey-400);
    outline-offset: 2px;
}

.social:focus-visible {
    outline: 2px solid var(--clr-white);
    outline-offset: 2px;
}

/* TABLET LAYOUT */
@media (min-width: 45rem) {

    .article__preview {
        grid-template-columns: 45% 55%;
        gap: 0;
    }

    .img__container {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        overflow: hidden;
    }

    .article__preview-content {
        padding-block: 2.5rem;
    }

    .para {
       margin-block: 1.5rem;
    }

    .furnAccessories_img {
        height: 100%;
        width: 100%; 
        object-fit: fill;
        transform: scaleX(1.25);
        transform-origin: left;
        clip-path: polygon(0 0, 80% 0, 80% 100%, 0 100%);
        
    }

    .shareToast__content--open {
        display: flex;
        position: absolute;
        right: -75px;
        bottom: 100px;
        padding: 1.6em 2.4em;
        border-radius: 10px;
        max-width: 15em;
    }

    .shareToast__content--open::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%) rotate(180deg);
        width: 1rem;
        height: 0.7rem;
        background-color: var(--clr-grey-900);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }

}

/* DESKTOP LAYOUT */
/* None */